// layouts for the menu in the iCarbon app


nav {
height: 150px;
padding-top: 10px;
}


li {
  padding-left: 80px;
}

.nav_text {
  text-align: center;
  color: $dark_gray_text;
  font-size: 20px;
  margin-top: 15%;
  margin-left: -25%;
}
